<header>
	<img src="./image/logo_head.jpg" alt="logo">
	<br><br>

	<a href="http://sezamapp.ru" id="banner">
		<img src="./image/banner.gif" alt="Sezam website" style="margin-left: 83px;">
	</a>

	<br><br>
	<div class="ribbonwide">
		<div class="ribbon">
			<div class="ribbonpad">
				<p>
					<a href="index.html">Главная</a>
					<a href="rd.html">Раннее вмешательство</a>
					<a href="anal.html">Нарушения анализаторов</a>
					<a href="psih.html">Психиатрия</a>
					<a href="literat.html">Литература</a>
					<a href="library.html">Наша библиотека</a>
					<a href="my_experiment.html">Ваш опыт</a>
					<a href="mape.html">Карта сайта</a>
					<a href="kontakt.html">Пишите нам</a>
					<a href="reference.html">Ссылки</a>
				</p>
			</div>
		</div>
	</div>
</header>
