<header>
	<img src="./image/logo_head.jpg" alt="logo" align=absleft>
	<br><br>

	<a href="http://sezamapp.ru" id="banner">
		<img src="./image/banner.gif" alt="Sezam website" style="margin-left: 83px;">
	</a>

	<br><br>
	<div class="ribbonwide">
		<div class="ribbon">
			<div class="ribbonpad">
				<p>
					<a href="index.html">Главная</a>
					<a href="rd.html">Раннее&nbsp;вмешательство</a>
					<a href="anal.html">Нарушения&nbsp;анализаторов</a>
					<a href="psih.html">Психиатрия</a>
					<a href="literat.html">Литература</a>
					<a href="library.html">Наша&nbsp;библиотека</a>
					<a href="my_experiment.html">Ваш&nbsp;опыт</a>
					<!-- --------------- -->
					<a href="prava.html">Ваши&nbsp;права</a>
					<a href="help_spb.html">Помощь&nbsp;в&nbsp;СПб</a>
					<!-- --------------- -->
					<a href="mape.html">Карта&nbsp;сайта</a>
					<a href="kontakt.html">Пишите&nbsp;нам</a>
					<a href="reference.html">Ссылки</a>
				</p>
			</div>
		</div>
	</div>
</header>
