<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>
		{% if page.title %}
			{% capture title %}{% t page.title %}{% endcapture %}
			{% assign sz = title | remove: ' ' | strip_newlines | size %}
			{% if sz == 0 %}
				{{page.title}}
			{% else %}
				{{title}}
			{% endif %}
		{% else %}
			{% if page.entry.title %}
				{{ page.entry.author }} {{ page.entry.title }}
			{% else %}
				{{ site.title }}
			{% endif %}
		{% endif %}
	</title>
	{% if page.excerpt %}
		{% assign desc = page.excerpt %}
	{% elsif page.entry.annote %}
		{% assign desc = page.entry.annote %}
	{% elsif page.description %}
		{% assign desc = page.description %}
	{% else %}
		{% assign desc = site.description %}
	{% endif %}
	{% assign desc = desc | strip_html | strip_newlines | truncate: 160 | replace: '"', '' %}
	<meta name="description" content="{{ desc }}">
	
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl_root | prepend: site.url }}" />

	{% stylesheet main %}
	{% javascript vendor/modernizr type="text/javascript" %}
	{% javascript vendor/jquery type="text/javascript" %}
</head>
