td {
	vertical-align: baseline;
}
.annote-title,
.howpublished-title,
.fulltext-title,
.title-title,
.author-title,
{
	font-weight: bold;
}

.title {
	font-size: 133%;
	font-weight: bold;
}

.author {
	font-size: 111%;
}

.bibliography {
}

.bibliography > li {
	padding: 0px;
	border: 0px;
	border-radius: 0px;
}

.year-label {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	display: inline-block;
	vertical-align: top;
	margin-left: -10ex;
	width: 7ex;
	padding-left: 0px;
	padding-right: 0px;
}

.date-label {
	margin-left: -20ex;
	width: 14ex;
}

.bib-entries {
	white-space: normal;
	display: inline-block;
}

.year-container {
	white-space: nowrap;
}
