---
---
<div class="title">{{entry.title}}</div>
<div class="author">{{ entry.author | replace: ',','' | replace: ' and ',', ' }}</div>
{% if entry.annote %}
	<div class="annote"><span class="annote-title">{% t bib.annotation %}. </span>{{entry.annote}}</div>
{% endif %}
{% if entry.howpublished %}
	<div class="howpublished"><span class="howpublished-title">{% t bib.howpublished %}: </span><a href="{{ entry.howpublished }}">{{ entry.howpublished }}</a></div>
{% endif %}
{% if link %}
	{% assign name = link | split: '/' | last %}
	<div class="fulltext"><span class="fulltext-title">{% t bib.fulltext %}: </span><a href="{{ link }}">{{ name }}</a></div>
{% endif %}
<br>
