---
layout: page
---
{{content}}
{% if page.max_year %}
	{% assign max_year = page.max_year %}
{% else %}
	{% assign max_year = site.time | date: '%Y' %}
{% endif %}
{% if page.years %}
	{% assign min_year = max_year | minus: page.years %}
{% else %}
	{% assign min_year = max_year | minus: site.data.bib.last_years %}
{% endif %}
{% if page.type %}
	{% assign tp = page.type %}
{% else %}
	{% assign tp = "*" %}
{% endif %}
{% if page.file %}
	{% assign file = page.file %}
{% else %}
	{% assign file = "papers" %}
{% endif %}
{% if page.template %}
	{% assign tpl = page.template %}
{% else %}
	{% assign tpl = "ref" %}
{% endif %}
{% if site.lang != site.languages[0] %}
	{% assign style = "association-for-computing-machinery" %}
{% else %}
	{% assign style = "gost" %}
{% endif %}
{% for year in (min_year..max_year) reversed %}
	{% capture items %}
		{% bibliography --file file --template {{tpl}} --query @{{tp}}[year={{year}}] --style style %}
	{% endcapture %}
	{% assign str = items | split: '<li>' %}
	{% if str[1] %}
		<div class="year-container">
			<div class="year-label">{{ year }}</div>
			<div class="bib-entries">{{ items | superscript_numerals }}</div>
		</div>
	{% endif %}
{% endfor %}
{% assign max_year = min_year | minus: 1 %}
{% assign min_year = 1990 %}
{% capture items %}
	{% for year in (min_year..max_year) reversed %}
		{% capture items %}
			{% bibliography --file file --template {{tpl}} --query @{{tp}}[year={{year}}] --style style %}
		{% endcapture %}
		{% assign str = items | split: '<li>' %}
		{% if str[1] %}
			<div class="year-container">
				<div class="year-label">{{ year }}</div>
				<div class="bib-entries">{{ items | superscript_numerals }}</div>
			</div>
		{% endif %}
	{% endfor %}
{% endcapture %}
{% assign str = items | split: "<li>" %}
{% if str[1] %}
	<span class="center">
		<a class="show-all" id="show-all">{% t buttons.showall %}</a>
	</span>
	<div id="archive">
		{{ items }}
	</div>
	{% javascript showall %}
{% endif %}
